.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 6rem;
  border-radius: 1.5rem;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5rem;
  letter-spacing: 1px;
  position: relative;
  height: 5.2rem;

  span {
    font-weight: 700;
  }

  &:focus,
  &:hover {
    top: -1px;
    left: -1px;
  }

  &-dark {
    color: color(light);
    background-color: color(dark);
  }

  &-light {
    color: color(dark);
    background-color: color(light);
  }

  &-accent {
    color: color(light);
    background-color: color(accent);
  }

}